<h2>Sign in</h2>

<form action="/user_profile_verify_credentials" method="post">
  <div style="width:300px; display:table">
    <label class="sr-only" for="email_box">Email</label>
    <input class="form-control mb-2 mr-sm-2" id="email_box" name="query_email" placeholder="Enter your email..." type="text" >
  </div>

  <div style="width:300px; display:table">
    <label class="sr-only" for="password_box">Password</label>
    <input class="form-control mb-2 mr-sm-2"id="password_box" name="query_password" placeholder="Enter your password..." type="password" >
  </div>

  <button class="btn btn-primary mb-2" >
    Sign in
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_profile_sign_up">Sign up</a> instead.
</p>
